version: '3.8'

services:
  nginx:
    image: nginx:mainline
    ports:
      - "8080:80"
    volumes:
      - ./.docker/nginx:/etc/nginx/conf.d
      - ./:/var/www/app:cached
  fpm:
    build: .docker/fpm
    env_file: .env.docker.dist
    volumes:
      - ./:/var/www/app:cached

