{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src/Cheeper/Application"
        ],
        "excludes": [
            "{Infrastructure/.*}"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": false
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 91,
    "minCoveredMsi": 90
}
