{
    "source": {
        "directories": [
            "src/Cheeper"
        ],
        "excludes": [
            "src/Cheeper/Infrastructure"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
