parameters:
    level: 8
    excludes_analyse:
        - src/CheeperSpaghetti/*
        - src/CheeperLayered/*
        - tests/bootstrap.php
    paths:
        - src
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
        console_application_loader: tests/console-application.php
    typeAliases:
        PostEvents: Architecture\CQRS\Domain\PostWasCreated|Architecture\CQRS\Domain\PostWasPublished|Architecture\CQRS\Domain\PostWasCategorized|Architecture\CQRS\Domain\PostContentWasChanged|Architecture\CQRS\Domain\PostTitleWasChanged
