<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         executionOrder="random"
         defaultTestSuite="UnitTests"
         verbose="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Cheeper</directory>
        </include>
        <exclude>
            <directory>src/App</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" />
    </php>
    <testsuites>
        <testsuite name="Full">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="UnitTests">
            <directory>tests/Cheeper/Tests</directory>
        </testsuite>
        <testsuite name="FunctionalTests">
            <directory>tests/App/Tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>
