<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         bootstrap="tests/bootstrap.php" executionOrder="random"
         resolveDependencies="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Cheeper</directory>
        </include>
        <exclude>
            <directory>src/App</directory>
            <directory>src/Cheeper/Chapter2/Spaghetti</directory>
            <directory>src/Cheeper/Chapter4/Infrastructure</directory>
            <directory>src/Cheeper/Chapter5/Infrastructure</directory>
            <directory>src/Cheeper/Chapter6/Infrastructure</directory>
            <directory>src/Cheeper/Chapter7/Infrastructure</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Full">
            <directory>tests/Cheeper/Tests/Chapter2</directory>
            <directory>tests/Cheeper/Tests/Chapter4</directory>
            <directory>tests/Cheeper/Tests/Chapter5</directory>
            <directory>tests/Cheeper/Tests/Chapter6</directory>
            <directory>tests/Cheeper/Tests/Chapter7</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>
