{% extends "base.html.twig" %}

{% block stylesheets %}
{{ encore_entry_link_tags("app") }}
{% endblock %}

{% block content %}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <img width="64" src="{{ asset('assets/images/cheeper.svg') }}" alt="cheeper">
            <h1 class="is-size-2 has-text-info-dark logo-text">
                Cheeper
            </h1>
            <h2>A twitter's clone</h2>
            <p class="buttons is-centered mt-4">
                <a href="#" class="button is-link">
                    <span>Sign Up</span>
                </a>
                <a href="#" class="button is-link">
                    <span>Log in</span>
                </a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
